# Located at: $home\.config\starship.toml

# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Inserts a blank line between shell prompts
add_newline = true

# What modules to use and in what order
format = """
$localip\
$shlvl\
$singularity\
$kubernetes\
$directory\
$vcsh\
$fossil_branch\
$fossil_metrics\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$hg_branch\
$status\
$username\
$fill\
$hostname\
$pijul_channel\
$docker_context\
$package\
$c\
$cmake\
$cobol\
$daml\
$dart\
$deno\
$dotnet\
$elixir\
$elm\
$erlang\
$fennel\
$gleam\
$golang\
$guix_shell\
$haskell\
$haxe\
$helm\
$java\
$julia\
$kotlin\
$gradle\
$lua\
$nim\
$nodejs\
$ocaml\
$opa\
$perl\
$php\
$pulumi\
$purescript\
$python\
$quarto\
$raku\
$rlang\
$red\
$ruby\
$rust\
$scala\
$solidity\
$swift\
$terraform\
$typst\
$vlang\
$vagrant\
$zig\
$buf\
$nix_shell\
$conda\
$meson\
$spack\
$memory_usage\
$aws\
$gcloud\
$openstack\
$azure\
$nats\
$direnv\
$env_var\
$mise\
$crystal\
$custom\
$sudo\
$cmd_duration\
$line_break\
$jobs\
$battery\
$time\
$os\
$container\
$netns\
$shell\
$character"""

# Whether the last command was successful or not
[character]
success_symbol = '[»](gray)'
error_symbol = '[»](gray)'

# Path to your current directory
[directory]
style = 'yellow'
truncation_length = 0
truncate_to_repo = false
repo_root_style = 'dimmed yellow'

# The system hostname
[hostname]
ssh_only = false
format = '[$ssh_symbol$hostname]($style) '
style = 'green'
disabled = false

# Simplify output of dotnet version
[dotnet]
style = 'cyan'
version_format = '${major}'

# Track changes to the PSModulePath
[env_var]
variable = 'ChangedPSModulePath'
style = 'purple'

# Right align less common modules
[fill]
symbol = ' '

# Active branch of the repo in your current directory
[git_branch]
style = 'cyan'
format = 'in [$symbol$branch(:$remote_branch)]($style) '
ignore_branches = ['master', 'main']

# Very slow on large repos
[git_status]
disabled = true

# Display when almost all memory got used
[memory_usage]
disabled = false
threshold = 80
format = 'with [${ram_pct} RAM]($style) '

# Show last exit code
[status]
disabled = false
style = 'dimmed red'
format = 'code [$common_meaning$signal_name $status]($style) '

# Show when the console is using administrator privileges
[username]
style_root = '36'
format = 'as [$user]($style) '
disabled = false
